<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>packages</title>
  <link rel="stylesheet" href="./css/packages_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <header id="abth"><%- include('../partials/header')%></header>
  <div class="pricing-table">
    <% if (package.length> 0) { %>
      <% package.forEach(p=> { %>
        <div class="pricing-card">
          <h3 class="pricing-card-header">
            <%=p.type%>
          </h3>
          <div class="price">
            <%=p.price%><sup>EGP</sup><span>/year</span>
          </div>
          <ul>
            <% if (p.Personal_Accident=="covered" ) { %>
              <li><i class="fas fa-check"></i> Personal Accident</li>
            <% } else { %>
              <li><i class="fas fa-times"></i> Personal Accident</li>
            <% } %>
            <li><strong><%=p.COinsurance%></strong>  COinsurance</li>
            <li><strong><%=p.AgencyCOinsurance%></strong>  AgencyCOinsurance</li>
            <% if (p.Roadside_Assistance=="covered" ) { %>
              <li><i class="fas fa-check"></i> Roadside Assistance</li>
            <% } else { %>
              <li><i class="fas fa-times"></i> Roadside Assistance</li>
            <% } %>
            <% if (p.Civil_Liability=="covered" ) { %>
              <li><i class="fas fa-check"></i> Civil Liability/li>
            <% } else { %>
              <li><i class="fas fa-times"></i> Civil Liability</li>
            <% } %>
            <% if (p.Police_Report=="covered" ) { %>
              <li><i class="fas fa-check"></i> Police Report</li>
            <% } else { %>
              <li><i class="fas fa-times"></i> Police Report</li>
            <% } %>
            <li><strong><%=p.Dfixing%></strong>  Dfixing</li>
          </ul>
          <a href="#" class="order-btn">Order now</a>
        </div>
        <% }) %>
          <% } else { %>
            <p>There are no Medical Packages to display...</p>
            <% } %>
  </div>
</body>
<footer id="fff"> <%- include('../partials/footer'); %></footer>
</html>