<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>packages</title>
  <link rel="stylesheet" href="./css/packages_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <header id="abth"><%- include('../partials/header')%></header>
  <div class="pricing-table">
    <% if (package.length> 0) { %>
      <% package.forEach(p=> { %>
        <div class="pricing-card">
          <h3 class="pricing-card-header">
            <%=p.type%>
          </h3>
          <div class="price">
            <%=p.price%><sup>EGP</sup><span>/year</span>
          </div>
          <ul>
            <li><strong><%=p.Income%></strong>  Income</li>
            <% if (p.Marriage=="yes" ) { %>
              <li><i class="fas fa-check"></i> Marriage</li>
            <% } else { %>
              <li><i class="fas fa-times"></i> Marriage</li>
            <% } %>
            <li><strong><%=p.Starting_Career%></strong>  Starting Career</li>
            <li><strong><%=p.Retirement%></strong>  Retirement</li>
            <li><strong><%=p.Age%></strong>  Age</li>
            <li><strong><%=p.Taxes%></strong>  Taxes</li>
          </ul>
          <a href="#" class="order-btn">Order now</a>
        </div>
        <% }) %>
          <% } else { %>
            <p>There are no Medical Packages to display...</p>
            <% } %>
  </div>
</body>
<footer id="fff"> <%- include('../partials/footer'); %></footer>
</html>