<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/profile.css">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JADWA</title>
</head>


<script>
   
    function fname(field) {
        if (field === "") {  
          document.getElementById("fn").innerHTML = "*";
    
        }
        else{
          document.getElementById("fn").innerHTML = " ";

        }

      }

      function lname(field) {
        if (field === "") {
          
          document.getElementById("ln").innerHTML = "*";
    
        }
        else{
            document.getElementById("ln").innerHTML = " ";

        }
      }

      function address(field) {
        if (field === "") {
          
          document.getElementById("ad").innerHTML = "*";
    
        }
        else{
            document.getElementById("ad").innerHTML = " ";

        }   
      }

  function tel(field) {
    var field = /^01[0-2,5]{1}[0-9]{8}$/;
    if (field.match(pattern)) {
      document.getElementById("ph").innerHTML = " ";

    } else {
      document.getElementById("ph").innerHTML = "*";

    }
  }

  function validate(form) {
    let fail = "";
  
    // Add validation results to the fail variable
    fail += fname(form.Fname.value);
    fail += lname(form.Lname.value);
    fail += address(form.Address.value);
    fail += tel(form.phone.value);
  
    // Check if any validation failed
    if (fail !== "") {
        
      // Prevent form submission
      return false;
    }
  
    // Form is valid, allow submission
    return true;
  }



</script>



<body>
  <header id="abth"> <%-include("../partials/header.ejs") %></header>

  <div class="sectionv">
    <div class="video-container">
      <div class="color-overlay"></div>
    </div>
  </div>

  <div class="form-container">
    <div class="title">
      <h1 class="head">Account Details</h1>
    </div>
    <div class="two">
      <img class="i" src="/images/adminicon.png" alt="" width="100px" height="100px">
    </div>
    <div class="one">
      <h1> </h1><br><br>

      
      <form action="/user/edituser" method="post" class="q" onsubmit="return validate(this)">


        <span id="fn" style="color: red;font-size:90%;"></span>
        <input class="ccc" type="text" name="Fname" value="<%=user.Fname%>" >


        <span id="ln" style="color: red;font-size:90%;"></span>
        <input class="ccc" type="text" name="Lname" value="<%=user.Lname%>" ><br><br>


        <span id="em" style="color: red;font-size:90%;"></span>
        <input class="ee" type="text" name="email" value="<%=user.Email%>" disabled><br><br>



        
        <!-- <span id="pass" style="color: red;font-size:90%;"></span>
        <input class="cc" type="password" name="password" placeholder="password "> 
        <span id="passs" style="color:red ;font-size:90%;"></span> 
        <input class="cc" type="password" name="cpassword" placeholder="Confirm password ">
        <div id="lpass" style="color: red;font-size:70%; margin-bottom: -15px; "></div> -->


        <span id="ad" style="color: red;"></span>
        <input class="cc" type="text" name="Address" value="<%=user.Address%>">



         <span id="ph" style="color: red;"></span>
         <input class="cc" type="text" name="phone" value="<%=user.Phone%>"> <br><br>


        <input type="submit" value="  Save Changes" class="cccc">

      </form>
      
    <a href="#">change password</a>



    </div>

  </div>


</body>


</html>