<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View and edit user</title>

  <!-- Box Icons  -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- Styles  -->
  <link rel="stylesheet" href="/css/adminDashboard.css" />
</head>

<body>
  <%- include('../partials/aside.ejs')%>

    <section class="users">
      <% if (users.length> 0) { %>
        <div class="board">
          <table width="100%">
            <thead>
              <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="3">Action</th>
              </tr>
            </thead>
            <% users.forEach(us=> { %>
              <tbody>

                <tr id="user-<%=us.id%>">
                  <td class="people">
                    <!-- <img src="bakry.jfif" alt=""> -->
                    <div class="people-de">
                      <p>
                        <%= us.Fname %>
                      </p>
                    </div>
                  </td>
                  <td class="people-des">
                    <p name="email">
                      <%= us.Email %>
                    </p>
                  </td>
                  <td class="role">
                    <p>
                      <%= us.role %>
                    </p>
                  </td>
                  <td class="edit">
                    <% if (us.Email!==user.Email ){ %>
                      <% if (us.role==='C' ){ %>
                        <a href="/admin/toAdmin/<%= us.id %>">Make Admin</a>
                        <% } else{ %>
                          <a href="/admin/toClient/<%= us.id %>">Make Client</a>
                          <% } %>
                            <% }%>
                  </td>
                  <td class="edit"><a href="/admin/edituser/<%=us.id%>">Edit</a></td>
                  <% if (us.Email!==user.Email ){ %>
                    <td class="edit"> <a href="#" onclick="return deleteUser('<%=us.id%>');">Delete</a></td>
                    <% }%>
                </tr>

              </tbody>
              <% }) %>
          </table>
          <% } else { %>
            <p>There are no users to display...</p>
            <% } %>
        </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>

</body>

</html>